<div class="container" style="border: 1px solid black" [ngClass]="isSubmit ? 'form-submitted' : ''">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-xs-12 my-2">
      <label for="semistarType" class="form-label">Semester</label>
      <bip-dropdown styleClass="w-100" id="semistarType" [option]="semistars" [(ngModel)]="student.semistar"
        (ngModelChange)="getPaperByDepartment()" [required]="true"></bip-dropdown>
    </div>

    <div class="col-sm-12 col-md-3 col-xs-12 my-2">
      <label for="courseType" class="form-label">Exam Type</label>
      <bip-dropdown styleClass="w-100" [option]="examTypes" [(ngModel)]="student.examType" [required]="true">
      </bip-dropdown>
    </div>

    <div class="col-sm-12 col-md-3 col-xs-12 my-2">
      <label class="form-label">Examination Roll Number</label>
      <input type="text" class="form-control" [(ngModel)]="student.examRoolNumber"
        (ngModelChange)="this.userQuestionUpdate.next($event)" [required]="true" />
    </div>

    <div class="col-sm-12 col-md-3 col-xs-12 my-2">
      <label for="courseType" class="form-label">Course Type</label>
      <bip-dropdown id="courseType" [option]="courseTypes" [(ngModel)]="student.courseType" styleClass="w-100"
        [required]="true" [disabled]="true"></bip-dropdown>
    </div>

    <div class="col-sm-12 col-md-3 col-xs-12 my-2">
      <label for="courseType" class="form-label">Session</label>
      <bip-dropdown styleClass="w-100" [option]="years" optionLabel="name" [(ngModel)]="student.session"
        [required]="true" [disabled]="true"></bip-dropdown>
    </div>

    <div class="col-sm-12 col-md-3 col-xs-12 my-2">
      <label class="form-label">Stream</label>
      <bip-dropdown styleClass="w-100" [option]="streams" optionLabel="name" optionValue="id" styleClass="w-100 "
        [required]="true" [(ngModel)]="student.stream" (ngModelChange)="getDepartments()" [disabled]='true'>
      </bip-dropdown>
    </div>
    <div class="col-sm-12 col-md-3 col-xs-12 my-2">
      <label class="form-label">Department</label>
      <bip-dropdown styleClass="w-100" [option]="departments" optionLabel="name" optionValue="id" styleClass="w-100 "
        [required]="true" [(ngModel)]="student.department" (ngModelChange)="getPaperByDepartment()" [disabled]='true'>
      </bip-dropdown>
    </div>
    <div class="col-sm-12 col-md-3 col-xs-12 my-2">
      <label class="form-label">College Roll Number</label>
      <input type="text" class="form-control" [required]="true" [(ngModel)]="student.rollNumber" disabled="true" />
    </div>

    <div class="col-sm-12 col-md-3 col-xs-12 my-2">
      <label class="form-label">Reg. NO</label>
      <input type="text" class="form-control" [(ngModel)]="student.registrationNumber" disabled="true" />
    </div>
    <div class="col-sm-12 col-md-6 col-xs-12 my-2">
      <label class="form-label">Full Name</label>
      <input type="text" class="form-control" [required]="true" [(ngModel)]="student.fullName" disabled="true" />
    </div>
    <div class="col-sm-12 col-md-3 col-xs-12 my-2">
      <label class="form-label">Date of birth (as in HSC)</label>
      <!-- <input type="date" class="form-control" [(ngModel)]="student.dob" required /> -->
      <bip-calendar [(ngModel)]="student.dob" required [showIcon]="true" [disabled]="true"></bip-calendar>
    </div>
    <div class="col-sm-12 col-md-4 col-xs-12 my-2">
      <label class="form-label">Sex</label>
      <p-selectButton [options]="genders" [(ngModel)]="student.gender" [disabled]="true"></p-selectButton>
    </div>
    <div class="col-sm-12 col-md-4 col-xs-12 my-2">
      <label class="form-label">Caste</label>
      <p-selectButton [options]="casts" [(ngModel)]="student.caste" [disabled]='true'></p-selectButton>
    </div>

    <div class="col-sm-12 col-md-4 col-xs-12 my-2">
      <label class="form-label">Father's Name</label>
      <input type="text" class="form-control" [required]="true" [(ngModel)]="student.fathersName" disabled="true" />
    </div>
    <div class="col-sm-12 col-md-4 col-xs-12 my-2">
      <label class="form-label">Mother's Name</label>
      <input type="text" class="form-control" [required]="true" [(ngModel)]="student.mothersName" disabled="true" />
    </div>
    <div class="col-sm-12 col-md-4 col-xs-12 my-2">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" [required]="true" [(ngModel)]="student.emailId" disabled="true" />
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <span>
          Papers Of Examination {{ student.semistar }} SEMESTER ({{
          student.examType
          }})
        </span>
      </div>

      <div class="col-12" *ngIf="corepapers && corepapers.length != 0">
        <table style="width: 100%" class="table table-striped">
          <thead>
            <tr>
              <th style="width: 25%">Paper Type</th>
              <th style="width: 75%">Paper Name & Paper Code</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Core</th>
              <td>
                {{corepapers}}
              </td>
            </tr>
            <tr *ngIf="compulsorys && compulsorys.length != 0">
              <th>Compulsory</th>
              <bip-dropdown [option]="compulsorys" [(ngModel)]="student.comp" styleClass="w-100" optionLabel="name">
              </bip-dropdown>
            </tr>
            <tr *ngIf="sec && sec.length != 0">
              <th>SEC</th>
              <td>
                {{ sec }}
              </td>
            </tr>
            <tr *ngIf="ges && ges.length != 0">
              <th>GE</th>
              <td>
                <bip-dropdown [option]="ges" [(ngModel)]="student.ges" styleClass="w-100" optionLabel="name">
                </bip-dropdown>
              </td>
            </tr>

            <tr *ngIf="dse && dse.length != 0">
              <th>DSE</th>
              <td>
                <bip-dropdown [option]="dse" [(ngModel)]="student.dse" styleClass="w-100" optionLabel="name">
                </bip-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
