<p-card>

  <div id="admin-card-area" class="container" *ngIf="downloadDetails && downloadDetails.length != 0">
    <ng-template [ngForOf]="downloadDetails" ngFor let-provisionalDetail>
      <div style="page-break-after: always; margin-top: 20px;">
        <div class="m-20">
          <div class="grid rotate-for-print">
            This is to certify that <b>{{provisionalDetail.fullName}}</b> bearing Roll No
            <b>{{provisionalDetail.examRoolNumber}}</b>
            regd.No. <b>{{provisionalDetail.reg}}</b> appearing from
            <b>{{departmentPlaceHolder}}</b> , <b>Udayanath College</b>
            as a regular candidate has passed in MCA Examination held in <b>{{issueDate}}</b>.
          </div>
          <br>
          <div class="row" style="margin-left: 165px">
            <div class="col-6" >
              <div class="grid">
                <div class="col-12">
                  <img src="assets/images/psi.jpg" alt="UN LOGO" style="height: 50px;" />
                </div>
                <div class="col-12">PRINCIPAL/CENTER SUPDT.</div>
              </div>
            </div>
            <div class="col-6">
              <div class="grid text-right">
                <div class="col-11">
                  <img src="assets/images/exam-controller.jpg" alt="UN LOGO" style="height: 50px;" />
                </div>
                <div class="col-11">CONTROLLER OF EXAMINATION</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="grid" *ngIf="downloadDetails && downloadDetails.length != 0">
    <div class="col-12">
      <div class="text-right">
        <button
          styleSheetFile="assets/css/print/bootstrap.min.css,assets/css/print/style.css,assets/css/print/primeng.min.css"
          printSectionId="admin-card-area" ngxPrint class="btn btn-primary">
          Print
        </button>
      </div>
    </div>
  </div>
</p-card>
