.p-my-1 {
   margin-top: 1rem;
}

.master-container {
   margin-top: 0.2rem;
}

.p-mx-1 {
   margin-right: 1rem !important;
}

.p-mx-05 {
   margin-right: 0.5rem !important;
}

.mt-2 {
   margin-top: 2vh !important;
}

.selected {
   background-color: rgb(149, 173, 195) !important;
}

.w-100 {
   width: 100%;
}

.application-form label::after {
   content: " :";
}

.view-icon:hover {
   color: blue;
}

.delete-icon:hover {
   color: red;
}

.edit-icon:hover {
   color: green;
}

 .Viewdetails-form{
   background-color:whitesmoke;
 }
.p-dialog-mask {
   z-index: 9999999 !important;
 }

.p-inputtextarea {
   width: 100%;
}
userdetails-form{
   background-color: whitesmoke;
}
.p-datatable .p-datatable-tbody > tr > td {
   padding: 0.2rem 0.2rem !important;
}

.p-datatable .p-datatable-thead > tr > th {
   padding: 0.3rem 0.3rem !important;
}

.p-inputtext {
   padding: 0.3rem !important;
}

.p-button {
   padding: 0.3rem 1rem !important;
}

.dark-menu .p-datatable .p-datatable-thead > tr > th {
   background: #2a2e3f !important;
   color: #ffffff !important;
}

.dark-menu .p-datatable .p-datatable-tbody > tr > td {
   color: #000 !important;
}

.master-container-body {
   height: 80vh;
}
.p-datatable .p-datatable{
   border: #711717
}


.mt-4{
   margin-top: 4px;
}
.mt-10{
   margin-top: 10px;
}
.content-panel-body{
   border: 2px solid red;
   height: 80vh;
}
.text-right {
   text-align: right;
}
.mr-3{
   margin-right: 3px;
}
.column-header{
   font-size: 25px;
   font-weight: 500;
}
.p-5{
   padding: 5px
}
.data-area{
   font-size: 20px;
   font-weight: 20300
}

.subject-table tr td, th{
   border: 1px solid black;
   width: 14% !important;
}
.college-name{
   font-size: 24px;
   font-weight: 600;
}
.font-icon-style{
   --bs-bg-opacity: 1;
   color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
}
.p-button{
   margin-right: 10px;
}

.exam-form label::after {
   content: "  :  ";
}

.exam-form .row {
   margin-top: 3px;
}
.mt-16{
   margin-top: 16px !important;
}
.mt-25{
   margin-top: 25px !important;
}
.text-justify{
   text-align: justify;
}
#form-print-area .page .row {
   margin-top: 10px;
}
.header-row {
   font-size: 25px;
   font-weight: 400;
 }
 .left-header {
   display: table-cell;
   vertical-align: middle;
   font-size: 25px;
   font-weight: 400;
 }
 .m-20{
   margin: 20px;
 }
 .admit-card-text {
   font-size: 20px;
   font-weight: 700;
 }
 .admin-card-area-table .table-bordered th{
   border: 3px solid gray;
 }
 .m-30{
   margin: 30px;
 }
 :host::ng-deep .p-button{
   margin: 20px;
 }
 .mt-20 {
   margin-top: 20px;
 }
 .p-inputtext {
   padding: 0.2rem 0.2rem !important;
 }
 .form-control {
   padding: 0.2rem 0.2rem !important;
 }
 .p-button {
   padding: 0.4rem 0.4rem !important;
 }
 .mr-10 {
   margin-right: 10px !important;
 }
 .form-label {
   margin-bottom: 0.3rem;
}
.form-submitted .ng-invalid {
 border: 1px solid red !important;
}
.w-80 {
 width: 80vw !important;
}

.mt-20 {
   margin-top: 20px;
}

.p-inputtext {
  width: 100% !important;
}

.changes-text {
  border: 1px solid red;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol” !important;
}

.p-datepicker {
  height: 250px !important;
  width: 400px !important;
  overflow: auto;
}

.p-datepicker table td {
  padding: 0.0rem !important;
}


.form-page .header-text {
  font-size: 18px;
  font-weight: 500;
}

.exam-paper-area .cell-content {
  border: 2px solid black;
}


.student-form-table tr th{
  width: 250px !important;
  text-align: center;
  font-weight: 500;
}
.student-form-table tr td{
  width: 250px !important;
  font-weight: 500;
}

.student-form-table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
