<p-card>
    <div class="grid">
        <!-- <div class="col-2">
            <bip-dropdown [option]="sessions"  [(ngModel)]="department.sessionId" optionLabel="name" optionValue="id">
            </bip-dropdown>
        </div> -->
        <div class="col-2">
            <bip-dropdown [option]="courseTypes"  [(ngModel)]="department.courseType" (ngModelChange)="findStreamByCourseType()">
            </bip-dropdown>
        </div>
        <div class="col-2">
            <bip-dropdown [option]="streams"  [(ngModel)]="department.streamId" optionLabel="name" optionValue="id">
            </bip-dropdown>
        </div>
        <div class="col-2">
            <bip-input-text placeholder="Department Name" class="p-mx-1" [(ngModel)]="department.name">
            </bip-input-text>
        </div>
        <div class="col-2">
            <bip-input-text placeholder="Department Code" class="p-mx-1" [(ngModel)]="department.code">
            </bip-input-text>
        </div>
        <div class="col-2">
            <button pButton pRipple type="button" label="Save" (click)="save()"
                class="p-mx-05" *ngIf="!department.id"></button>
            <button pButton pRipple type="button" label="Update" (click)="save()"
                class="p-mx-05" *ngIf="department.id"></button>
            <button pButton pRipple type="button" label="Reset" (click)="reset()"></button>
        </div>
    </div>
    <p-table [value]="departmentList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <!-- <th class="text-center">Session</th> -->
                <th class="text-center">Course Type</th>
                <th class="text-center">Stream</th>
                <th class="text-center">Name</th>
                <th class="text-center">Code</th>
                <th class="text-center">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cdepartment>
            <tr [class.selected]="cdepartment.id == department.id">
                <!-- <td class="text-center">{{cdepartment.sessionText}}</td> -->
                <td class="text-center">{{cdepartment.courseType}}</td>
                <td class="text-center">{{cdepartment.streamText}}</td>
                <td class="text-center">{{cdepartment.name}}</td>
                <td class="text-center">{{cdepartment.code}}</td>
                <td class="text-center">
                    <bip-icon iconClass="pi pi-pencil p-mx-05 edit-icon" (click)="edit(cdepartment)"></bip-icon>
                    <bip-icon iconClass="pi pi-trash p-mx-05 delete-icon" (click)="delete(cdepartment)"></bip-icon>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</p-card>
